{% extends 'base.html' %}
{% load static %}


{% block title %}{{ produto.nome }} - Distribuidora Siade{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/produto_detalhe.css' %}">
{% endblock %}
{% block content %}
    <div class="product-detail-container">
        <div class="product-image-area">
            {% if produto.imagem %}
                <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" class="product-detail-img">
            {% else %}
                <img src="{% static 'img/placeholder.png' %}" alt="Sem Imagem" class="product-detail-img">
            {% endif %}
        </div>
        <div class="product-info-area">
            <h1>{{ produto.nome }}</h1>
            <p class="product-category">Categoria: <a href="{% url 'produtos_por_categoria' produto.categoria.slug %}">{{ produto.categoria.nome }}</a></p>
            <p class="product-description">{{ produto.descricao }}</p>
            <p class="product-price">R$ {{ produto.preco }}</p>
            
            {% if produto.estoque > 0 %}
                <p class="in-stock">Em estoque: {{ produto.estoque }} unidades</p>
                
                <form action="{% url 'adicionar_ao_carrinho' %}" method="post"> 
                    {% csrf_token %}
                    <label for="quantidade">Quantidade:</label>
                    <input type="number" id="quantidade" name="quantidade" value="1" min="1" max="{{ produto.estoque }}">
                    <input type="hidden" name="produto_id" value="{{ produto.id }}"> 
                    <button type="submit" class="add-to-cart-btn">Adicionar ao Carrinho</button>
                </form>
            {% else %}
                <p class="out-of-stock">Produto esgotado!</p>
            {% endif %}

            <div class="back-link">
                <a href="{% url 'produto_list' %}">Voltar para a lista de produtos</a>
            </div>
        </div>
    </div>
{% endblock %}

